@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

.App {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	justify-content: center;
	align-items: center;
	margin: 150px;
	font-family: 'Outfit', sans-serif;
	font-size: 1.5em;
}

form {
	display: grid;
	grid-template-columns: 1fr, 1fr;
	justify-items: center;
}

label {
	display: block;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

select {
	margin: 10px;
	height: 50px;
	width: 150px;
	font-family: 'Outfit', sans-serif;
	font-size: 1.25em;
	border: 1px dashed;
}

textarea {
	width: 200px;
	display: block;
	margin: 10px;
	margin-left: -10px;
	height: 300px;
	width: 300px;
	font-family: 'Outfit', sans-serif;
	font-size: 1.25em;
	border: 1px dashed;
}

button {
	margin-left: 20px;
	background-color: white;
	border: 1px dashed;
	width: 200px;
	padding: 15px;
	font-family: 'Outfit', sans-serif;
	font-size: 1em;
	cursor: pointer;
}

.catchphrase-display {
	display: block;
	margin-top: 20px;
	font-size: 1.75em;
	height: 500px;
}

button:focus,
textarea:focus,
select:focus {
	outline: none;
}
